body {
  background-color: @black;
  color: @white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 12px;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

strong {
  color: @highlight;
}

em {
  color: @emphasize;
}
a{
  text-decoration: none;
  cursor:pointer;
  &:hover{
    text-decoration: none;
  }

}


