// FORM ELEMENTS

a {
  color: @dark-gray;
  &:hover {
    color: @dark-blue;
    text-decoration: none;
  }
}

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border-radius: 6px;
  font-size: 16px;
  color: @gray;
}

input:focus {
  // outline:none;
  // outline-style: hidden;
}

.theform {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 25px;
  color: @gray;
  background-color: @white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 0 12px rgba(222, 226, 211, 0.8);

}
@media (max-width: 480px){
  .theform{
    box-shadow: none;
  }
}

.form-holder {
  background-color: @black-20;
  padding: 20px;
  border-radius: 4px;
}

.input-grpup {
  span {

  }
}
.form-zone {
  padding: 10px;
  p{
    color: @dark-red;
    font-weight: bold;
  }
}

.form-zone-fb {
  border-top: 2px solid @gray + 60;
}

.form-zone-new-account {
  text-align: center;
  background-color: rgba(16, 121, 232, 0.2);
  border-top: 2px solid white;
  p{
    font-weight: bold;
    color: @dark-blue;
  }
}
.form-zone-got-account {
  text-align: center;
  background-color: rgba(16, 121, 232, 0.2);
  border-top: 2px solid white;
  p{
    font-weight: bold;
    color: @dark-blue;
  }
}
.form-password-holder {

  .password-lock {
    float: right;
    font-size: 14px;
    cursor: pointer;
    color: @gray;
    span {
      float: right;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      vertical-align: middle;
    }
  }

}

// FORM LOGIN

#formlogin {

}

#formNewUser {
  display: none;

}

.pass-reminder {
  display: none;
}

// CONFIRM

#confirm{
  .confirm-holder{
    text-align: center;
    background-color: rgba(16, 121, 232, 0.2);
  }
}

// INPUT
/* style 5 */
.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}


.inputfile-5 + label {
  color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
  color: #722040;
}

.inputfile-5 + label figure {
  width: 100px;
  height: 135px;
  background-color: #d3394c;
  display: block;
  position: relative;
  padding: 30px;
  margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
  background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
}

.inputfile-5 + label figure::before {
  border-top: 20px solid #dfc8ca;
  border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
  border-bottom: 20px solid #722040;
  border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
  border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
  width: 100%;
  height: 100%;
  fill: #f1e5e6;
}