body {
  background-color: #353535;
  color: #f2f2f2;
}
.app-holder {
  max-width: 1200px;
  margin: 0 auto;
}
.menu-horizontal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-horizontal ul li {
  text-align: center;
  min-width: 200px;
  cursor: pointer;
  padding: 10px;
  background-color: lightblue;
  display: inline-block;
}
.menu-horizontal ul li:hover {
  background-color: cornflowerblue;
}
.menu-horizontal ul li.active {
  background-color: #ffe28e;
  color: #353535;
}
.menu-vertical ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-vertical ul li {
  cursor: pointer;
  max-width: 200px;
  display: block;
  padding: 10px;
  background-color: lightblue;
}
.menu-vertical ul li:hover {
  background-color: cornflowerblue;
}
.menu-vertical ul li.active {
  background-color: #ffe28e;
  color: #353535;
}
