body {
  background-color: #353535;
  color: #f2f2f2;
}
.app-scaffod {
  padding: 10px 4px;
  max-width: 1028px;
  margin: 0 auto;
}
.app-header {
  padding: 10px 4px;
  max-width: 1028px;
  margin: 0 auto;
}
.app-header figure {
  width: 300px;
}
.app-holder {
  padding: 10px 4px;
  max-width: 1028px;
  margin: 0 auto;
}
.app-footer {
  width: 100%;
  background-color: #666666;
  padding: 10px ;
  position: absolute;
  bottom: 0;
}
.app-footer .app-container {
  padding: 10px 4px;
  max-width: 1028px;
  margin: 0 auto;
}
.app-footer .app-container a {
  color: #f2f2f2;
}
.app-footer .app-container p {
  text-align: right;
}
.menu-horizontal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-horizontal ul li {
  text-align: center;
  min-width: 200px;
  cursor: pointer;
  padding: 10px;
  margin: 2px 0px;
  background-color: lightblue;
  color: #353535;
  display: inline-block;
}
.menu-horizontal ul li:hover {
  background-color: cornflowerblue;
  color: #f2f2f2;
}
.menu-horizontal ul li.active {
  background-color: #ffe28e;
  color: #353535;
}
.menu-vertical ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-vertical ul li {
  cursor: pointer;
  max-width: 200px;
  display: block;
  padding: 10px;
  background-color: lightblue;
  color: #353535;
}
.menu-vertical ul li:hover {
  background-color: cornflowerblue;
  color: #f2f2f2;
}
.menu-vertical ul li.active {
  background-color: #ffe28e;
  color: #353535;
}
@media screen and (max-width: 600px) {
  body {
    padding: 0 10px;
  }
  .app-holder {
    background-color: lightslategrey;
  }
}
