html {
  position: relative;
  min-height: 100%;
}

.app-scaffod {
  padding: 10px 4px;
  max-width: @app-width;
  margin: 0 auto;
}

.app-header {
  .app-scaffod();
  figure {
    width: 300px;
  }
}

.app-holder {
  .app-scaffod();
  .app-bg-grad(74,83,74,0.6);
  padding: 10px;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
 // border:2px solid @white;
}

.app-footer {
  width: 100%;

  padding: 10px;
  position: relative;
  top: 100%;
  figure{
    width: 200px;
  }
  .app-container {
    .app-scaffod();
    background-color: @gray;
    padding: 10px;
    p{
      margin: 0;
    }
    a {
      color: @highlight;
    }
    p {
      text-align: right;
    }
  }

}

.spacer {
  margin: 10px;
  width: 100%;
  height: 15px;
}

.no-bullet{
  list-style-type: none;
  padding: 0;
}