table {
  width: 100%;
  font-size: 12px;
  th {
    padding: 10px;
    background-color: @dark-gray;
    text-transform: uppercase;
    font-weight: bold;
  }
  td {
    padding: 10px;
    font-size: 10px;
  }
  tr {
    &:nth-child(odd) {
      background-color: @black-20;
    }
  }
  &.comment {
    width: 80%;
    margin: 0 auto;
    th {

    }
    tr {
      &:nth-child(odd) {
        background-color: transparent;
      }
    }
  }
  &.table-comments {
    @media screen and(max-width: 480px) {
      width: 300px;
      th {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
      }

      td {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
  &.table-image {
    th {
      text-align: center;
    }
    td {

      &:nth-child(6) {
        text-align: center;
      }
    }
    a {
      color: white;
    }
  }
}